<div class="main-content">
    <h1>
        Renovation and service of historic Porsche, Mercedes and Ferrari vehicles.
    </h1>
    <p>
        Renewcars is a family company specializing in the comprehensive renovation of historic vehicles Porsche, Mercedes and Ferrari. 
        Our fully qualified team of craftsmen and technicians (numbering over 40 people) is one of the best in the industry. 
        At the same time, Doctor Classic has over 30 projects at various stages of reconstruction. Every year, we provide our clients with a dozen or so cars restored to the 100-point standard . 
        Our mission is to restore cars in exactly the same condition they were in when they left the factory. 
        Our quality control and production methods have been developed and refined in cooperation with technical universities in Poland. 
        We consistently deliver 100-point cars , we do this by dismantling each part of the car to bare metal and replacing each defective part with new or remanufactured parts. 
        We treat our clients individually and make their dreams come true, because your dreams are also our dreams.
    </p>
    
</div>
<div class="img">
    <a><img src="assets/images/team.PNG" ></a>
        </div>
    