<body>
    <div class="outer-grid">
        <div class="inner-grid">
        <img src="/assets/images/1.jpg"/>
        <img src="/assets/images/2.jpg"/>
        <!-- <img src="https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/> -->
        </div>
        <div class="inner-grid">
            <img src="/assets/images/3.jpg"/>
            <img src="/assets/images/5.jpg"/>
           
            </div>
            <div class="inner-grid">
                <img src="/assets/images/6.jpg"/>
                <img src="/assets/images/7.jpg"/>
               
                </div>
                <div class="inner-grid">
                    <img src="/assets/images/4.jpg"/>
                    <!-- <img src="/assets/images/5.jpg"/> -->
                   
                    </div>
        <!-- <div class="inner-grid">
        <img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        </div>
        <div class="inner-grid">
        <img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        </div> -->
        </div>
</body>