
<body>
    <h1>Benefits of Car Renovation</h1>
    <p class="main">
        You have probably heard about the quote “Grass is always greener on the other side”. 
        Many drivers make some bad decisions when they want to buy a new car.
         They see that their neighbor has a better car and they want to prove that they can afford a better vehicle.
          If you ask us, this competition doesn’t have any sense.

Still, if you truly want to have a better car than your neighbor, that doesn’t necessarily mean that you need to buy a new one.
 You can renovate the old car that you have and make it become a machine. 
 Many experienced drivers will confirm that their car is like their child.
  They will take care of it all the time. 
    </p>
   
    <h1>You will Save Money</h1>
    <p class="main">
        We will start with the most obvious thing. When we say that remodeling will pay off, we literally mean that. Buying a new car can be a log expensive move.
         Most of the people can’t afford to buy a new car at once. They mostly get a loan from the bank or save their money for a long time. 
         You need to sacrifice many things such as traveling, new clothes, and other things if you want to save enough money. 
        Well, there is a less-painful solution in the form of car remodeling.
    </p>
    <h1>Here Some of our refurbished cars</h1>
    <div class="outer-grid">
    <div class="inner-grid">
    <img src="/assets/images/1.jpg"/>
    <img src="/assets/images/2.jpg"/>
    <!-- <img src="https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/> -->
    </div>
    <div class="inner-grid">
        <img src="/assets/images/3.jpg"/>
        <img src="/assets/images/5.jpg"/>
       
        </div>
        <div class="inner-grid">
            <img src="/assets/images/6.jpg"/>
            <img src="/assets/images/7.jpg"/>
           
            </div>
            <div class="inner-grid">
                <img src="/assets/images/4.jpg"/>
                <!-- <img src="/assets/images/5.jpg"/> -->
               
                </div>
    <!-- <div class="inner-grid">
    <img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
    <img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
    <img src="https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
    </div>
    <div class="inner-grid">
    <img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
    <img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
    <img src="https://images.pexels.com/photos/3863778/pexels-photo-3863778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
    </div> -->
    </div>
    </body>